<!DOCTYPE html>
<html>
<head>
  <title>User Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        {% block content %}
        
        <table class="table table-striped table-hover">
          <thead>
    <tr>
        <th>name</th>
        <th>from</th>
        <th>to</th>
        <th>start</th>
        <th>end</th>
    </tr>
    </thead>
    {% for i in upcome %}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.From}}</td>
        <td>{{i.To}}</td>
        <td>{{i.Start_date}}</td>
        <td>{{i.end_date}}</td>
        <div class="container">
        <td><a href="{% url 'remove' i.id %}" class="btn btn-info" role="button">remove</a></td>
    </div>
    </tr>
    {% endfor %}
    
</table>
</div>
<a href="logout" class="btn btn-info" role="button" style="float: right;">Logout</a>
{% endblock %}
</body>
</html>